.home {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  align-items: center; /* Vertically center content */
}

/* Styling for the 'content' div within the 'home' section */
.home .content {
  text-align: start;
  width: 50%;
  position: relative;
  z-index: 1; /* Ensure content is above videos */
}

/* ... Your existing styles ... */

/* Styling for video slides */
/* Styling for video slides */
.video-slide {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  clip-path: circle(0% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
  z-index: -1; /* Place videos behind the content */
background-color: var(--orange);
}

.video-slide.active {
  clip-path: circle(150% at 0 50%);
}

/* Styling for pagination buttons */
.pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.pagination-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button.active {
  background-color: #f77d0a; /* Active button color */
}

.home .content h1 {
  font-size: 2.5em; /* Adjust the font size as needed */
}

.home .content h1 span {
  font-size: 1.2em; /* Adjust the font size as needed */
  font-weight: bold; /* Add font weight if desired */
  color: var(--orange); /* Use the defined color variable */
}

.home .content p {
  margin-bottom: 20px; /* Adjust spacing as needed */
}

/* Styling for the 'View more' button */
.home .content .btn-style {
  background-color: var(--orange); /* Use the defined color variable */
  color: white; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust the font size as needed */
  border: none; /* Remove button border */
  border-radius: 4px; /* Rounded corners */
  text-decoration: none; /* Remove underlines */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: 0.7s ease;
}

.home .content .btn-style:hover {
  background-color: var(--orange-light); /* Change background color on hover */

  transform: scale(1.1);
}

/* Additional styling for other elements within the section if needed */

/* Example styling for the 'span' element within the 'h1' */
.home .content h1{
    color: var(--light);
}.home .content p{
    color: var(--light);
}
.home .content h1 span {
  color: var(--orange); /* Use the defined color variable */
}

/* Example styling for the 'a' element within the 'p' */
.home .content p a {
  color: var(--blue); /* Use the defined color variable */
  text-decoration: underline; /* Add underline to links */
}

/* Example styling for the 'a' element within the 'p' on hover */
.home .content p a:hover {
  color: var(--dark); /* Change text color on hover */
  text-decoration: none; /* Remove underline on hover */
}
